<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/head') %>
</head>

<body>
	<%- include('./partials/nav') %>
		<div class="container mt-5" id="mainBodyContainer">

			<div class="pinkify my-5">
				<article class="text-center">
					<h3 class="p-2">Some stats:</h3>
					<p class="mt-3">Successful Requests: <%= requestsServed %>
					</p>
					<p class="mt-1">Catalogue Size: <%= itemCatalogueSize %>
					</p>
					<h3 class="p-2 mt-5">Start wrting code now:</h3>
					<a class="mt-2 w-50 pinkify btn btn-primary" target="_blank" href="/dev">Documentation</a>
				</article>
			</div>

			<div class="accordion pinkify" id="homeAccordian">
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							What is this?
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#homeAccordian">
						<div class="accordion-body">
							This is a simple API that serves data from some of the following price lists:
							<ul>
								<li>essence: <a target="_blank"
										href="https://docs.google.com/spreadsheets/d/1NreN_qK0pZ0KrREBt6c8M3P5o0c7qjcmf53OPgyYBcA/edit?gid=0#gid=0">ChristieBot</a>
								</li>
								<li>essence: <a target="_blank"
										href="https://docs.google.com/spreadsheets/d/12CYgW-9DA6b-6k7qpEpmE496k8kP6t7B_9cTo85D1RU/edit?gid=809036244#gid=809036244">tatatot234</a>
								</li>
								<li>inf block: <a target="_blank"
										href="https://docs.google.com/spreadsheets/d/1oQQdgtUN_ew87snt1bE3UBAmUBDESP96eShynjfpbj8/edit?gid=0#gid=0">DJX
										and Patchika</a></li>
							</ul>
							This is not in any way affiliated with minecraft or minewind. Just something made by the
							player base for the player base.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Why?
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#homeAccordian">
						<div class="accordion-body">
							You may or may not have noticed, but there are quite a few players on minewind that have
							created chat bots that are helpful to the general playerbase. Some players have tried making
							a price calculator, but the implementations are somewhat inconsistent (from a dev's POV,
							there is no dataset so it is hard).
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Pricing System
						</button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#homeAccordian">
						<div class="accordion-body">
							Based on the sheets to the best of my abilities.
						</div>
					</div>
				</div>
			</div>
		</div>

		<%- include('./partials/footer') %>
</body>

</html>